body {
    font-family: Arial, sans-serif;
    background: url('https://wallpaperaccess.com/full/2754630.jpg') no-repeat center center fixed;
    justify-content: center;
    align-items: center;     
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 1px;
    background-color:rgba(96, 190, 70, 0.46);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50vh;
    margin: 100px;
    margin-left: 500px;
   
}

.login-form {
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #120202;
}

input[type="text"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.back {
    margin-top: 20px;
}

#back {  
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 1cm;
}

#backButton:hover {
    background-color: #5a6268;
}